{% extends "base.html" %} {% block content %}
<div>
  <span class="text-xs">the voices in my head</span>
  <ul class="ml-20 list-disc text-lg">
    <!-- If you arelusing pagination, section.pages will be empty.
       You need to use the paginator object -->
    {% for page in section.pages %}
    <li>
      <a class="text-gray-400 font-bold" href="{{ page.permalink | safe }}"
        >{{ page.title }}</a
      >
      <!-- - <span class="text-xs">{{ page.taxonomies.tags }}</span> -->
      <!-- <span class="text-sm color-grey font-light ml-10">// {{ page.date }}</span> -->
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
