{% extends "base.html" %} {% block content %}

<main class="text-white flex-row justify-center max-w-5xl mx-auto h-full gap-3">
  <p style="display: inline">
    hello, I'm <strong>bwkam</strong> or <strong>rynite</strong>. welcome to my
  </p>
  <a href="https://github.com/bwkam/bwkam.github.io" target="_blank">website</a>
  👋

  <br /><br />

  <div class="flex justify-around">
    <div class="">
      <strong>things I</strong>
      <strong class="underline">like:</strong>

      <ul class="list-disc pl-4">
        <li>dwm</li>
        <li>haxe</li>
        <li>haskell</li>
        <li>juice wrld 🕊️</li>
        <li>nix(os) ❄️</li>
        <li>emacs/nvim</li>
        <li>simple web like this</li>
        <li>graphics dev</li>
        <li>reverse eng</li>
        <li>writing songs 🎻</li>
      </ul>
    </div>

    <div class="">
      <strong>things I really <u>hate</u>:</strong>

      <ul class="list-disc pl-4">
        <li>school/education</li>
        <li>colors (as you can see)</li>
        <li>my ocd and god knows what else</li>
        <li>social media</li>
        <li>js frameworks</li>
        <li>^ retarded people</li>
      </ul>
    </div>
  </div>

  <br />
  <h2 class="font-bold">contact</h2>
  <ul class="flex justify-between w-20 text-xl">
    <li>
      <a href="mailto:beshoykamel391@gmail.com">
        <i class="fa-solid fa-square-envelope"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/bwkam" target="_blank">
        <i class="fa-brands fa-square-github"></i>
      </a>
    </li>
    <li>
      <a
        class="text-lg"
        href="http://discordapp.com/users/891997325499719730"
        target="_blank"
      >
        <i class="fa-brands fa-discord"></i>
      </a>
    </li>
  </ul>
</main>

<footer
  class="flex flex-col items-center justify-center w-full absolute bottom-3 right-0"
>
  <div class="flex gap-2 justify-center">
    <div>
      <i class="fa-solid fa-angles-left"></i>
      <a href="https://nixwebr.ing/prev/bwkam">prev</a>
    </div>
    <a href="https://nixwebr.ing/rand">random</a>
    <div>
      <a href="https://nixwebr.ing/next/bwkam">next</a>
      <i class="fa-solid fa-angles-right"></i>
    </div>
  </div>
  <span>
    <a
      class="inline text-blue-500 text-xs font-extrabold underline decoration-dotted text-center w-full text-center"
      href="https://nixwebr.ing"
      >nix webring</a
    >
    <span>❄</span>
  </span>
</footer>
{% endblock content %}
