{% extends "base.html" %} {% block content %}

<main class="text-white flex-row justify-center max-w-5xl mx-auto h-full gap-3">
  <p>
    blah blah blah idk how to greet people. see my
    <a
      class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
      href="https://github.com/bwkam"
      >gh</a
    >. I also play the violin and draw (traditional). I'm not a very social
    person, and tbh I have problems communicating my ideas effectively, whether
    online or in person, tho I try my best. I barely talk to anyone. I'll host
    my art and articles here too, but when I get the time.
  </p>

  <br /><br />

  <div class="flex justify-around">
    <div class="">
      <strong>things I like:</strong>

      <ul class="list-disc pl-4">
        <li>dwm</li>
        <li>haxe</li>
        <li>haskell</li>
        <li>juice wrld 🕊️</li>
        <li>nix(os) ❄️</li>
        <li>emacs/nvim</li>
        <li>simple web like this</li>
        <li>graphics dev</li>
        <li>reverse eng</li>
        <li>writing songs 🎻</li>
      </ul>
    </div>

    <div class="">
      <strong>things I really <u>hate</u>:</strong>

      <ul class="list-disc pl-4">
        <li>school/education</li>
        <li>me</li>
        <li>everyone (except a very few)</li>
        <li>colors</li>
        <li>my ocd and god knows what else</li>
        <li>social media</li>
        <li>js frameworks</li>
        <li>^ retarded people</li>
      </ul>
    </div>
  </div>

  <br />
  <h2 class="font-bold">contact</h2>
  <ul>
    <li>
      <a
        class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
        href="mailto:beshoykamel391@gmail.com"
        >send an email</a
      >
    </li>

    <li>discord: rynitee</li>
  </ul>
</main>

<footer class="flex gap-2 justify-center">
  <a href="https://nixwebr.ing/prev/bwkam">prev</a>
  <a href="https://nixwebr.ing/rand">random</a>
  <a href="https://nixwebr.ing/next/bwkam">next</a>
</footer>
{% endblock content %}
